@model WeatherGuide.Models.Recommendation
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = "Edit";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AppUserId" class="control-label"></label>
                <select asp-for="AppUserId" class="form-control" asp-items="ViewBag.AppUserId"></select>
                <span asp-validation-for="AppUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstClothingId" class="control-label"></label>
                <select asp-for="FirstClothingId" class="form-control" asp-items="ViewBag.FirstClothingId"></select>
                <span asp-validation-for="FirstClothingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondClothingId" class="control-label"></label>
                <select asp-for="SecondClothingId" class="form-control" asp-items="ViewBag.SecondClothingId"></select>
                <span asp-validation-for="SecondClothingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThirdClothingId" class="control-label"></label>
                <select asp-for="ThirdClothingId" class="form-control" asp-items="ViewBag.ThirdClothingId"></select>
                <span asp-validation-for="ThirdClothingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@SharedLocalizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
