@using Microsoft.AspNetCore.Mvc.Localization
 
@inject IViewLocalizer Localizer
 
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
 

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <h3>@SharedLocalizer["test"]</h3>
</div>
