@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
	ViewData["Title"] = "Index";
}

<h3><strong>@TempData["Message"]</strong></h3>
<div class="container">
<form method="post" asp-controller="ImportUser" asp-action="Import" enctype="multipart/form-data">
	<input type="file" name="file"/>
	<button type="submit">@SharedLocalizer["ImportFromExcel"]</button>

</form>
</div>