@{
    ViewData["Title"] = "Administration";
}

<div class="text-center">
    <h1 class="display-4">Administration Page</h1>
    <ul class="navbar-nav flex-grow-1">
                        <li>
                            <a asp-area="" asp-controller="Country" asp-action="Index">Manage countries</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="State" asp-action="Index">Manage country states</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Measurement" asp-action="Index">Manage sensor measurements</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Category" asp-action="Index">Manage clothing categories</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Clothing" asp-action="Index">Manage clothings</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Recommendation" asp-action="Index">Manage recommendations</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="AppUser" asp-action="Index">Manage users</a>
                        </li>
   </ul>

</div>
