@{
    ViewData["Title"] = "Administration";
}

<div class="text-center">
    <h1 class="display-4">Administration Page</h1>
    <ul class="navbar-nav flex-grow-1">
                        <li>
                            <a asp-area="" asp-controller="Country" asp-action="Index">Manage countries</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="State" asp-action="Index">Manage country states</a>
                        </li>
   </ul>

</div>
